# Xcode
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xcscmblueprint

# SwiftPM
.build/
.swiftpm/xcode/package.xcworkspace/
.swiftpm/

# CocoaPods
Pods/
Podfile.lock
*.xcworkspace

# Carthage
Carthage/Build

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# SwiftPM Package cache
Package.resolved

# SwiftPM IDE integration
.project.xcworkspace

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Others
*.orig
*.xcuserstate
*.hmap
*.ipa

# Env
.env
